
td,th {
      text-align:center;
      padding: 10px 20px;
}

tr:nth-child(even) {
    background-color: #ECECEC;
}


thead th {
    background-color: #AAAAAA;
}
tr {
    cursor: pointer;
}

.first {
    font-weight: bold;
    font-size: 10px;
    color: green;

}
.second {
    overflow: auto;
}
.wrap{
     margin: 10px 0;
}

.modal-header .row:nth-child(even) {
    background-color: #ECECEC;
}
.manage_buttons {
    margin-top:20px;
}